.itemCard {
  transition: 0.3s all ease-in-out;
}

.itemCard:hover {
  transform: scale(1.1);
  opacity: 0.9;
  border-radius: 40px;
}

.itemCard:hover > img {
  border-radius: 40px;
}

.itemImg {
  transition: 0.3s all ease-in-out;
}
