/**
 * Images a now responsive
 */
img {
  max-width: 100%;
  height: auto;
}

/**
 * Limit the container in
 * width for big screens
 */
.container-Header {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

.main-header .container-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 960px) {
  .main-header .container-Header {
    justify-content: space-between;
  }
}
