.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline;
}
.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  color: aliceblue;
  font-weight: bold;
  transition: 400ms;
  background-color: #57be6c;
}

.main-nav a:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  transform: scale(1.05, 1.05);
}
